@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@300;400;600&display=swap'); */

:root {
  --foreground-rgb: 43, 42, 41; /* Charcoal */
  --background-rgb: 250, 249, 246; /* Off-white/Cream */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, .font-serif {
  font-family: 'Playfair Display', serif;
}

.text-gold { color: #C5A059; }